# Node modules for the server
server/node_modules/
client/node_modules/

# Environment files
#server/.env

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build and output directories
server/dist/
server/build/

# Temporary files
.DS_Store
Thumbs.db
*.tmp
*.swp
*.swo

# Git-specific files
.git/
*.lock
.idea/
.vscode/
.history

# Ignore specific OS files
*.bak
*.orig